{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
  <div class="jumbotron">
    <h1>Este es el Blog de Paco</h1>
    <p>Aquí encontrareis las tontadas y barbaridades de Paco</p>
  </div>
</div>
{% endblock %}
